<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<!-- DJOS: buscar y bajar actualizaciones (sistema y programas privados) sin pedir contraseña al usuario de la PC.
     Solo este programa; aplica lo bajado recién al reiniciar. -->
<policyconfig>
  <action id="org.djos.update">
    <description>Check for and download DJOS updates</description>
    <message>DJOS needs permission to check for updates</message>
    <icon_name>system-software-update</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/djos/update</annotate>
  </action>
</policyconfig>
