# DJOS: Pioneer / AlphaTheta DDJ-FLX10, saca el "NO AUDIO DRIVER" de las pantallas de los jogs al conectarla (una
# lectura de solo lectura de su firmware: ver /usr/libexec/djos/flx10-wake)
ACTION=="add", SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="2b73", ATTR{idProduct}=="0041", \
  RUN+="/usr/libexec/djos/flx10-wake"
