[Desktop Entry]
Type=Application
Name=DJOS Center
GenericName=DJOS Settings
Comment=Audio, performance, updates, apps & plugins, music disks
Icon=djoscenter
Exec=/usr/libexec/djos/center
Categories=Settings;System;
Keywords=audio;latency;buffer;sample rate;updates;plugins;daw;apps;music;disk;performance;
